@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

.contenedor-3{
    background-color: #e3e3e3;
    @media (max-width: 950px){

    }
}

.contenido-3{
    display: flex;
    position: relative;
    @media (max-width: 950px){
        display: flex;
        flex-direction: column-reverse;
        gap: 50px 0;
    }


    .c-3-img{
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @media (max-width: 950px){
            width: 100%;
        }     
        
        video{
            width: 55%;  
            position: relative;
            transform: rotate(270deg);
            padding-left: 20px;
            @media (max-width: 950px){
                width: 80%;
                padding-left: 0px;
               margin: 45px 0 60px;
            }
        }

        .cruz-azul{
            width: 410px;
            position: absolute;
            bottom: -120px;
            left: 0px;
            margin-left: 25px;
            @media (max-width: 1100px){
                display: none;
            }
        }
    }

    .c-3-txt{
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        position: relative;
        @media (max-width: 950px){
            width: 100%;
            margin-top: 55px;
            padding-left: 0;
        }

        .tachon-azul{
            width: 80px;
            position: absolute;
            top: -70px;
            right: -60px;
        }

        h1{
            font-family: 'Shadows Into Light', cursive;
            font-size:45px;
            color: #1d1d1d;
            letter-spacing: 6px;
            text-transform: uppercase;
        }

        .punto-azul{
            width: 50px;
        }

        p{
            font-family: 'Poppins', sans-serif;
            width: 90%;
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            margin: 35px 0 10px;
            color: #1d1d1d;
            letter-spacing: 3px;
            @media (max-width: 950px){
                margin: 45px 0 40px ;
                width: 92%;
            }
        }

        .linea-azul{
            width: 120px;
        }

        a{
            position: relative;
            color: #1e9bff;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 3px;
            padding: 12px 12px 12px 30px;
            transition: .5s;
            font-weight: bold;
            text-align: center;
            border-radius: 20px;
            margin: 0 10px;
            background: #ededed;
            z-index: 2;
            &:hover{
                letter-spacing: 10px;
                background: var(--clr);
                color: var(--clr);
                box-shadow: 0 0 35px var(--clr);}
        
                &::before{   
                content: "";
                position: absolute;
                background-color: #ededed;
                inset: 2px;
                border-radius: 20px;}

        span{
            position: relative;
             font-size: 20px;
             font-family: 'Shadows Into Light', cursive;
        }

        i{
            position: absolute;
            inset: 0;
            display: block;
        }
    }

    }
}
